# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Database
*.db

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Distribution
build/
dist/

# OS
.DS_Store
Thumbs.db